<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
    {{#userFullName}}
        {{.}}
        <a href="/signout">Sign Out</a>
    {{/userFullName}}

    {{^userFullName}}
        <a href="/signin">Sign In</a>
        <a href="/signup">Sign Up</a>
    {{/userFullName}}
    <br/>
    <br/>
<img src="img/image-placeholder.png"/>
</body>
</html>