<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    First Mean page<br/>
    <b>Below is your images</b><br/>
    <img src="img/image-placeholder.png"/>
</body>
</html>